*{
  margin: 0px;
  padding :0PX;
  box-sizing: border-box;
}
.home{
  width: 100vw;
  height: auto;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  align-items: center;
}
.intro{
  width: 100vw;
  height:700px;
  background-image: url('../public/images/Vision\ screen.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw auto;
}
.nav{
  display: flex;
  width: 100vw;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  flex-direction: row;
  height: 55px;
  align-items: center;
}
.part-1{
  width: 50%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-weight: bold;
  padding: 20px 0px;
  padding-left: 50px;
  font-size: 25px;
}
.part-2{
width: 50%;
height: 100%;
justify-content: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
}
.uno{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
  padding-right: 50px;
  align-items: center;
}
.login{
  padding:  5px;
  margin: 0px 10px;
  font-family: 'Baloo Bhaijaan 2', cursive;
  background-color: #00ae8c;
display: flex;
justify-content: center;
align-items: center;
  width: 70px;
  height: auto;
}
.mem{
  padding:  5px;
  margin: 0px 10px;
  font-family: 'Baloo Bhaijaan 2', cursive;
}